@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  -webkit-tap-highlight-color: transparent;
}

ion-icon {
  color: white;
}

body {
  overflow-x: hidden ;
}

.overlay {     
  position: absolute;
  z-index: 10000;
}

.leaflet-control-attribution,.leaflet-routing-container{
  display:none;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}


:root {
  --map-tiles-filter:grayscale(100%) invert(90%) contrast(100%) ;
}

/* @media (prefers-color-scheme: dark) {
  .map-tiles {
      filter:var(--map-tiles-filter, none);
}
} */

.map-tiles {
  filter:var(--map-tiles-filter, none);
}